.aboutMe__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
}

.aboutMe__img {
    width: 350px;
    justify-self: center;
    align-self: center;
}

.aboutMe__data {
    display: flex;
    flex-direction: column;
}

.aboutMe__edit {
    display: flex;
    justify-content: center;
    padding-bottom: var(--bm-1);
}

.aboutMe__description {
    text-align: justify;
    margin-bottom: var(--bm-1-5);
}

.aboutMe__btn {
    display: flex;
    justify-content: center;
}