<header class="header" id="header">
    <nav class="nav container">
        <a 
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"
            id="yo-programo"
        >
            <img 
                src="../../../assets/img/headerArgentinaPrograma.png"
                alt="Argentina Programa Logo"
                id="header-argentina-programa"
            >
            <div>
                Argentina Programa
                <br>
                #YoProgramo
            </div>
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <app-header-item
                    *ngFor="let section of sections"
                    [section]="section"
                >
                </app-header-item>
            </ul>
        </div>
        <!-- Botón para cambiar de tema (claro/oscuro) -->
        <i 
            class="uil change-theme"
            [ngClass]="darkMode ? 'uil-sun' : 'uil-moon'" 
            id="theme-button"
            (click)="toggleTheme()"
        >
        </i>
        <!-- Botón de login -->
        <div class="login__btn">
            <a 
                class="btn btn-flex btn-small login__btn"
                (click)="toggleLoginModal()"
                *ngIf="!editMode"
            >
                Iniciar sesión
            </a>
            <a 
                class="btn btn-flex btn-small login__btn"
                (click)="logout()"
                *ngIf="editMode"
            >
                Cerrar sesión
            </a>
        </div>
    </nav>
    <app-login
        *ngIf="isLoginModalActive"
    >
    </app-login>
</header>