<header class="header" id="header">
    <nav class="nav container">
        <a 
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"
            id="yo-programo"
        >
            <img 
                src="../../../assets/img/headerArgentinaPrograma.png"
                alt="Argentina Programa Logo"
                id="header-argentina-programa"
            >
            <div>
                Argentina Programa
                <br>
                #YoProgramo
            </div>
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <app-header-item
                    *ngFor="let section of sections"
                    [section]="section"
                >
                </app-header-item>
            </ul>
        </div>
    </nav>
</header>